!.gitignore

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Python
*.py[cod]
*.so
*.egg
*.egg-info
build/
__pycache__/

# pyvenv
venv*/
.venv

*.zip
*.tar
*.tar.gz

# database
*.sqlite
migrations/

.env

