{%- extends "oauth2/base.jinja2" -%}

{%- block body -%}

<h1>创建应用</h1>

<div class="col-md-6">
<form action="" method="post">
    <label>
        <span>Client Name</span>
        <input type="text" name="client_name" value="Hi">
    </label>
    <label>
        <span>Client URI</span>
        <input type="url" name="client_uri" value="https://authlib.org/">
    </label>
    <label>
        <span>Allowed Scope</span>
        <input type="text" name="scope" value="profile">
    </label>
    <label>
        <span>Redirect URIs</span>
        <textarea name="redirect_uri" cols="30" rows="5"></textarea>
    </label>
    <label>
        <span>Allowed Grant Types</span>
        <textarea name="grant_type" cols="30" rows="5" value="authorization_code\npassword"></textarea>
    </label>
    <label>
        <span>Allowed Response Types</span>
        <textarea name="response_type" cols="30" rows="5" value="code"></textarea>
    </label>
    <label>
        <span>Token Endpoint Auth Method</span>
        <select name="token_endpoint_auth_method">
        <option value="client_secret_basic">client_secret_basic</option>
        <option value="client_secret_post">client_secret_post</option>
        <option value="none">none</option>
        </select>
    </label>
    <button>Submit</button>
    </form>
</div>



{%- endblock -%}
