{% extends "oauth2/base.jinja2" %}


{%- block body -%}

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <a class="list-group-item" href="{{ url_for('oauth2view.app_list') }}">我的应用</a>
            <a class="list-group-item" href="{{ url_for('oauth2view.app_create') }}">创建应用</a>
        </ul>
    </div>

    <div class="col-md-3">
    OAUTH2主页
    </div>
</div>

{%- endblock -%}
